.description {

	height: 500px;
	position: relative;
	// display: flex;
	margin-top: 50px;
	padding-top: 50px;
	margin-bottom: 200px;

	&__list {
		margin-top: 20px;
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 40px;

		&-subtitle {
					// display: none;
					padding-bottom: 40px;
					margin: 0;
					font-weight: 100;
					font-family: 'Lora', serif;
					font-size: 40px;
				}

		&-column {
		}
	}
	&__pic {
		margin-left: 20px;
		width: 370px;
		height: 560px;
		&-img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}		
	}

	&__content {

		&-subtitle {
			display: none;
			
			// text-align: center;
					margin: 0;
					font-weight: 100;
					font-family: 'Lora', serif;
					font-size: 40px;
				}
		
				&-text {
					// margin-top: 30px;
					font-size: 18px;
				}


		&-list {
			margin-top: 30px;
			list-style-type: none;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 30px;
			text-align: center;

			

			&-column {
				
			}
		}

		&-link {
			// width: 100%;
			text-align: center;
			margin-top: 30px;
			position: relative;

			&-button {
				width: 100%;
			left: 0;
			position: absolute;
			// bottom: 0;
			font-weight: 200;
			// padding: 7px 10px 7px 10px;
			list-style: none;
			text-decoration: none;
			font-size: 20px;
			color: rgb(97, 97, 97);
			background-color: white;
			transition: all 500ms ease;
			border-width: 1px;
			border-color: rgb(174, 174, 174);
			border-style: groove;
			}
			
			&-button:hover {
				background-color: rgb(233, 233, 233);
				color: rgb(0, 0, 0);
				transition: all 500ms ease;
			}
		}

		&-info {
					margin-top: 30px;

		
					&-column {
						text-align: center;
						margin: 0 100px 0 0;
		
						&-top {
							font-family: 'Lora', serif;
							font-size: 24px;
							font-weight: 700;
							margin: 0;
						}
		
						&-line {
							width: 60%; 
							margin: 0 20% 0 20%;
							border: none;
							border-top: 0.5px solid black;
		
							&-block {
								padding: 0 8px 0 8px;
							}
						}
		
				&-bottom {
					font-style: italic;
					margin: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.description {
	
		&__list {
			
		}
		&__pic {
			margin-left: 0;
			width: auto;
			height: auto;
			&-img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}		
		}
	}
}


@media screen and (max-width: 1000px) {
	.description {
		position: relative;

		&__content {
			position: relative;

			&-list {
				left: 10px;
				position: absolute;
				bottom: -10%;
			 }
		}


		&__list {

			&-subtitle {
				
				padding-bottom: 20px;
				margin: 0;
				font-weight: 100;
				font-family: 'Lora', serif;
				font-size: 40px;
			}
		}
		&__pic {
			min-width: 306px;
			min-height: 463px;

			&-img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}	
		}
	}
}

@media screen and (max-width: 780px) {
	.description {
		height: 640px;

		&__content {
			position: relative;

			&-list {
				left: 10px;
				position: absolute;
				bottom: 12%;
			 }
		}
	}
}

@media screen and (max-width: 680px) {
	.description {
		height: 1240px;
		margin-top: 0;
		&__pic {
			padding-right: 60px;
				padding-left: 60px;
				min-width: 220px;
				min-height: 244px;

			&-img {
				width: 100%;
				height: 100%;
			}		
		}

		&__list {
			margin-top: 20px;
			list-style-type: none;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 40px;
			
			&-subtitle {
				display: none;
			}
		}

		&__content {
			
			// position: static

			&-list {
				
				left: none;
				position: inherit;
				bottom: none;
			}

			&-subtitle {
					padding-left: 40px;
					display: block;
				// text-align: center;
						margin: 0;
						font-weight: 100;
						font-family: 'Lora', serif;
						font-size: 40px;
					}
			
					&-text {
						padding-right: 60px;
				padding-left: 60px;
						// margin-top: 30px;
						font-size: 18px;
					}
		}
	}
}










@media screen and (max-width: 460px) {
	.description {
		height: 1100px;
		&__pic {
			padding-right: 50px;
				padding-left: 50px;
				min-width: 100px;
				min-height: 100px;

			&-img {
				width: 100%;
				height: 100%;
			}		
		}

		&__list {
			margin-top: 20px;
			list-style-type: none;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 40px;
			
		}

		&__content {

			&-subtitle {
				padding-left: 40px;
				// text-align: center;
						margin: 0;
						font-weight: 100;
						font-family: 'Lora', serif;
						font-size: 30px;
						
					}

					&-list {
						left: none;
						position: inherit;
						bottom: none;
					}
			
					&-text {
						font-size: 16px;
						padding-right: 50px;
				padding-left: 50px;
					}
	
	
			&-list {
				margin-top: 30px;
				list-style-type: none;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 30px;
				text-align: center;
	
				&-column {
					
				}
			}
	
			&-link {
				// width: 100%;
				text-align: center;
				margin-top: 30px;
				position: relative;
	
				&-button {
					width: 100%;
				left: 0;
				position: absolute;
				// bottom: 0;
				font-weight: 200;
				// padding: 7px 10px 7px 10px;
				list-style: none;
				text-decoration: none;
				font-size: 20px;
				color: rgb(97, 97, 97);
				background-color: white;
				transition: all 500ms ease;
				border-width: 1px;
				border-color: rgb(174, 174, 174);
				border-style: groove;
				}
				
				&-button:hover {
					background-color: rgb(233, 233, 233);
					color: rgb(0, 0, 0);
					transition: all 500ms ease;
				}
			}
	
			&-info {
						margin-top: 30px;
	
			
						&-column {
							text-align: center;
							margin: 0 100px 0 0;
			
							&-top {
								font-family: 'Lora', serif;
								font-size: 24px;
								font-weight: 700;
								margin: 0;
							}
			
							&-line {
								width: 60%; 
								margin: 0 20% 0 20%;
								border: none;
								border-top: 0.5px solid black;
			
								&-block {
									padding: 0 8px 0 8px;
								}
							}
			
					&-bottom {
						font-style: italic;
						margin: 0;
					}
				}
			}
		}
	}
}
	

@media screen and (max-width: 360px) {
	.description {
		height: 1200px;
	}
}




