.footer {
	padding: 40px 0 0 15px;
	height: 120px;
	display: list-item;
	background-color: #4a4a4a;	

	&__link {
		
		display: block;

		&-button {
			text-decoration: none;
			color: white;

			&-text {
				font-size: 16px;
				margin-bottom: 30px;
			}

			&-text:hover {
				color: #c8c6c6;

			}
		}
	}
}

@media screen and (max-width: 1200px) {
	
	.footer {
		padding: 20px 0 0 0;
		height: 100px;
		display: list-item;
		background-color: #4a4a4a;	
	
		&__link {
			
			display: block;
	
			&-button {
				text-decoration: none;
				color: white;
	
				&-text {
					font-size: 16px;
					margin-bottom: 0px;
				}
	
				&-text:hover {
					color: #c8c6c6;
	
				}
			}
		}
	}
}